@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
    transform: scale(1.1);
  }
}

.about {
  background: #0a2850;
  color: #ffffff;
  padding: 100px 80px 173px;
  display: flex;
  position: relative;
  justify-content: space-between;
  overflow: hidden;
}

.about__title {
  max-width: 251px;
  margin: 0;
  z-index: 1;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  top: 100px;
  left: 80px;
}

.about__content {
  max-width: 660px;
  margin: 19px 0 0;
}

.about__paragraph {
  margin: 0 0 20px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.about__paragraph:last-child {
  margin-bottom: 0;
}

.about__circle {
  position: absolute;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  background-color: #2f80ed;
  top: -152px;
  left: -129px;
  z-index: 0;
}

.about__circle_animation_blurred {
  animation: 1.3s ease-in-out infinite pulsate;
}
