.card {
  width: 540px;
}

.card_position_center {
  margin: 0 auto;
}

.card__title {
  margin: 0 0 32px;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list {
  padding: 0;
}

.card__list-item {
  margin-bottom: 16px;
  display: flex;
  position: relative;
  font-family: "Noto Serif";
}

.card__list-item:last-child {
  margin-bottom: 0;
}

.card__list-divider {
  flex-grow: 1;
  border-bottom: solid #838383;
}
