.card {
  width: 540px;
}

.card__title {
  margin: 0 0 32px;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list {
  margin: 0;
  padding: 0;
}

.card__list-item {
  margin-bottom: 16px;
  display: flex;
  position: relative;
  font-family: "Noto Serif", "Times New Roman", serif;
}

.card__list-item:last-child {
  margin-bottom: 0;
}

.card__list-divider {
  flex-grow: 1;
  border-bottom: 0.5px solid #000000;
}
