.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;
  background: url(../images/background_header.svg) center / cover no-repeat
    #ffffff;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  padding: 30px 80px 40px;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 0 183px 0;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -50px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}

.header__title {
  margin: 0 auto 28px 0;
  max-width: 729px;
  font-size: 60px;
  line-height: 72px;
  font-weight: 500;
  letter-spacing: -0.6px;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: 400;
  color: #2f80ed;
  display: block;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  max-width: 683px;
}

.header__image {
  z-index: 1;
  position: absolute;
  top: 124px;
  right: 5px;
  max-width: 646px;
  max-height: 568px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__hours {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-weight: 500;
  color: #838383;
}

.header__paragraph {
  margin: 0;
  font-weight: 500;
  color: #838383;
}

.recipes {
  background: center / cover no-repeat url(../images/background_recipes.svg)
    #0a2750;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 100px 80px 215px;
}

.recipes__title {
  margin: 0 0 24px 0;
  max-width: 580px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  margin: 0 0 80px 0;
  max-width: 438px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 0;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.reservation {
  background: center / cover no-repeat url(../images/background_reservation.svg)
    #d9e7ff;
  padding: 100px 0 120px;
}

.reservation__title {
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  margin: 80px auto 0;
}

.form {
  max-width: 385px;
}

.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.form__label {
  display: block;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 0;
}

.form__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  margin-top: 8px;
  padding: 15px 20px;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__input[type="datetime-local"] {
  color: #000000;
}

.form__button {
  border-radius: 4px;
  opacity: 1;
  transition: opacity 0.3s linear;
  width: 100%;
  background-color: #2f80ed;
  color: #ffffff;
  padding: 20px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox {
  width: 20px;
  height: 20px;
}
